.container {
    margin-top : 10px;
}

.genre {
    span {
        margin-right: 10px;
    }
}

.movie-details-box {
    .row {
        padding-bottom: 10px;
    }
}

.movie-img-box {
   margin-right: 25px;
}