<div class="container">
  <h1>Movies App</h1>
  <p>
    <input type="text" class="form-control" [(ngModel)]="searchByMovieName" placeholder="Search movies by name">
  </p>
  <p>
    <input type="text" class="form-control" [(ngModel)]="searchByGenre" placeholder="Search movies by genre">
  </p>

  <div class="row">
    <div *ngFor="let movie of movies | FilterMovies: searchByMovieName: searchByGenre" class="col-md-3 col-sm-4 col-xs-6">
      <a [routerLink]="['/movie-detail', movie.id]">
        <div class="dummy thumbnail" [@movieState]="movie.state" (mouseenter)="toggleState(movie)" (mouseleave)="toggleState(movie)">
          <img src="assets/img/movie-covers/{{movie.img}}" name="movie-img" />
        </div>
      </a>
    </div>
  </div>
</div>